.container-game {
    margin-left: 30%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in 0.7s;
    color: white;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

span {
    font-weight: bold;
}

.container-tutorial {
    position: absolute;
    top: 8%;
    left: 44%;
    width: 40%;
    height: 80%;
    padding: 1.5vh;
    background-color: rgba(66, 33, 212, 0.682);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-style: solid;
    border-color: white;
    border-radius: 2vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.container-tutorial h2 {
    margin-bottom: 9vh;
    font-size: 5vh;
}

.container-tutorial p {
    font-size: 2.5vh;
}

.container-tutorial button {
    margin-top: 6vh;
    width: 25vh;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.30);
}

.container-rodada-info {  
    position: absolute;
    display: grid;
    top: 0;
}

#container-timer {
    display: inline-flex;
    align-items: baseline;
    gap: 1vh;
}

#container-rodada {
    display: ruby;
    text-align: center;
}

.container-rodape {
    position: absolute;
    top: 90%;
    display: ruby;
    text-align: center;
}

#span-time-vermelho {
    color: red;
    background-color: white;
}

#span-time-azul {
    color: blue;
    background-color: white;
}

.TicTacToe {
    position: relative;
    display: grid;
    top: 17%;
    background-color: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 2vh;
    width: 69vh;
    height: 69vh;
}

.Linha {
    position: static;
    width: 69vh;
    display: inline-flex;
}

.Elemento {
    position: inherit;
    width: 15vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#LinhaUm {
    position: relative;
    top: 10%;
}

#LinhaUmEsquerda {
    position: relative;
    left: 8%
}

#LinhaUmMeio {
    position: relative;
    left: 17.5%;
}

#LinhaUmDireita {
    position: relative;
    left: 26%;
}

#LinhaDois {
    position: relative;
    top: 17%;
}

#LinhaDoisEsquerda {
    position: relative;
    left: 8%;
}

#LinhaDoisMeio {
    position: relative;
    left: 17.5%;
}

#LinhaDoisDireita {
    position: relative;
    left: 26%;
}

#LinhaTres {
    position: relative;
    top: 25%;
}

#LinhaTresEsquerda {
    position: relative;
    left: 8%;
}

#LinhaTresMeio {
    position: relative;
    left: 17.5%;
}

#LinhaTresDireita {
    position: relative;
    left: 26%;
}
img {
    position: fixed;
    top: 23.5%;
    width: 66vh;
    height: 60vh;
    z-index: 1;
}

#img-played-o {
    position: static;
    width: 15vh;
    height: 15vh;
}

#img-played-x {
    position: static;
    width: 15vh;
    height: 15vh;
}

span {
    margin-left: 1vh;
    margin-bottom: 3vh;
    font-size: 2.8vh;
}